/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

/* Utility */
.width-70{
    width: 70%;
    margin: auto;
}

.justify-content-between{
    justify-content: space-between;
}

.flex{
    display: flex;
}

.align-center{
    align-items: center;
}

/* header */
header{
    background-color: #ff6900;
    min-height: 50px;
    padding: 20px 0;
    box-shadow: 0 0 5px;
}

header li a{
    color: white;
    text-decoration: none;
    margin-right: 10px;
}

header ul li{
    display: inline;
    list-style-type: none;
}

header img{
    max-height: 30px;
}


